.controlbutton Button {
    margin: 4px;
    font-size: 24px;
    background-color: #bfb6ff;
    border: #bfb6ff;
}
.top {
    background-color: #4F4199;
    height: 160px;
}
.top h1 {
    color: white;
    font-size: 120px;
    padding-bottom: 60px;
    padding-right: 40px;
    font-family: Impact;
    text-align: right;
}
.controlbutton input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 300px;
}
h2 {
    font-family: "Century Gothic";
}
h3 {
    font-family: "Century Gothic";
}
.weekNav {
    text-align: left;
    margin: 10px;
}
.predInfo {
    background-color: #F5F3FF;
    padding: 20px;
    margin-bottom: 7%;
}
.predInfo p {
    font-family: "Century Gothic";
    font-size: 32px;
    text-align: center;
}
.home img {
    width: 70px;
}
.home {
    padding-left: 1%;
    padding-top: 1%;
    text-align: left;
    background-color: #4F4199;
}
.home Button {
    background-color: #4F4199;
    border: none;
}
.home Button:hover {
    background-color: #4F4199;
    border: none;
}