.container button {
    padding: 10px;
    padding-right: 30px;
    font-size: 32px;
    margin: 10px;
    background-color: lightslategrey;
    color: #fff;
    border: 2px solid lightslategrey;
    width: 500px;
    border-radius: 10px;
    text-align: right;
}
.container button:hover {
    background-color: #007bff;
    border: 2px solid #007bff;
}
h1 {
    font-family: sans-serif;
    font-size: 56px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}