.nav button {
    padding: 10px;
    padding-right: 30px;
    font-size: 32px;
    margin-bottom: 20px;
    background-color: #B0A8DC;
    color: #fff;
    border: 2px solid #B0A8DC;
    width: 125%;
    border-radius: 0px 10px 10px 0px;
    text-align: right;
}
.nav button:hover {
    background-color: #bfb6ff;
    border: 2px solid #bfb6ff;
}
.nav {
    justify-content: left;
    margin-top: 90px;
    width: 25%;
    float: left;
}
.container {
    width: 800px;
    margin-left: 35%;
    margin-top: 3%;
}
.container h2 {
    color: white;
}
.category {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    margin: 20px;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    background-color: white;
}
.logo img{
    width: 30%;
}
.screen {
    background-color: #4F4199;
    height: 1335px;
}
.info{
    background-color: white;
}
.info button{
    border-radius: 100px;
    background-color: #bfb6ff;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    border: white;
    margin-left: 90%;
    margin-top: 20px;
}