#select {
    padding: 5px;
    font-size: 16px;
    background-color: #4F4199;
    color: #fff;
    border: 2px solid #4F4199;
    width: 320px;
    height: 40px;
    font-family: "Century Gothic";
    font-weight: bold;
}
#select img {
    width: 25px;
}
#unselect {
    padding: 5px;
    font-size: 16px;
    background-color: slategrey;
    color: #fff;
    border: 2px solid slategrey;
    width: 320px;
    height: 40px;
    font-family: "Century Gothic";
    font-weight: bold;
}
.group {
    border: 15px solid white;
    display: flex;
    justify-content: center;
}
.result {
    width: 270px;
    height: 40px;
    border-radius: 5px;
    background-color: #F6F6F6;
}
.result p {
    margin-top: 8px;
    color: black;
    font-family: "Century Gothic";
}
.middle {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #F6F6F6;
}
.middle p {
    margin-top: 8px;
    color: black;
    font-family: "Century Gothic";
}
