.predictbtn {
    padding: 5px;
    font-size: 16px;
    background-color: #ABABAB;
    color: #fff;
    border: 2px solid #ABABAB;
    width: 350px;
    border-radius: 5px;
    height: 40px;
    font-family: "Century Gothic";
}
#group {
    border: 15px solid white;
    background-color: #F6F6F6;
}
.space {
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
.space p{
    margin-top: 8px;
    color: black;
    font-family: "Century Gothic";
}