.weekbtn Button, .weekbtn Button:hover, .weekbtn Button:focus {
    background-color: #B0A8DC;
    text-align: left;
    width: 22vw;
    padding: 1vh;
    font-size: 1.5vh;
    margin: 1vh;
    border: none;
    font-family: "Century Gothic";
}
.inactive Button, .inactive Button:hover, .inactive Button:focus {
    background-color: #F1F0F7;
    text-align: left;
    width: 22vw;
    padding: 1vh;
    font-size: 1.5vh;
    margin: 1vh;
    border: none;
    color: lightslategrey;
    font-family: "Century Gothic";
}

